<div class="main-container">
    <div class="blur-circle1">

    </div>
    <div class="blur-circle2">

    </div>
    <!-- Start Landing Page -->
    <div class="landing-page">

        <div class="content">  
            <div class="container">
                <div class="info">
                    <h1 class="heading1">Lets Start Your Trading </h1><br><span class="span1">Journal</span><br><br>
                    <p>A journal allows you to see your growth as a trader by recording every trade you make, along with
                        the rationale behind it. Over time, you can identify patterns in your decision-making process.
                    </p>
                    <button routerLink="/auth/boxed-signup" style="margin-right: 1rem;">Register Now</button>
                    <button routerLink="/auth/boxed-signin">Login Now</button>
                </div>
                <div class="image">
                    <img class="main-image"
                        src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
                </div>
            </div>
        </div>
    </div>
    <!-- End Landing Page -->
</div>